.circle-button {
    width: 35px; /* Set the desired width */
    height: 35px; /* Set the desired height, make it the same as the width for a perfect circle */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text/icon color to white, or any other color that provides good contrast */
  }

.circle-button2 {
    width: 60px; /* Set the desired width */
    height: 30px; /* Set the desired height, make it the same as the width for a perfect circle */
    border-radius: 5%; /* Make it a circle */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text/icon color to white, or any other color that provides good contrast */
  }
  
.link-name {
    margin-top: 5px; /* Adjust the margin as needed for spacing between button and text */
}
.horizontal-container {
  display: flex;
  align-items: center; /* Vertically align items */
}

.selector {
  margin-right: 20px; /* Space between the two selectors */
}
.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}

.icon-button svg {
  width: 24px;
  height: 24px;
}

.circle-image {
  width: 100%; /* Set the desired width */
  height: 100%; /* Set the desired height */
  overflow: hidden;
  border-radius: 50%; /* This creates a circular border */
}
.profilepage {
  margin-left: 5%;
}
.placeholder-image {
  width: 120px;
  height: 120px;
  display: block;
  background-color: white;
  margin-right: 10px;
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  border-style: solid;  /* Set border style to solid */
  border-width: 1px;    /* Set border width */
  border-color: black;  /* Set border color */
}
.profilebg-container {
  width: 70%;             /* Set the width to span 70% of the parent container's width */
  height: 130px;          /* Set the height to 100px */
  background-color: #DBDFD0;
  /* Add any other styles or properties as needed */
}

.color-tabbg{
  background-color: #DBDFD0;
  /* Add any other styles or properties as needed */
}
.color-chosetab{
  background-color: #13544E;
}