.shape {
    height: 0;
    width: 0;
    border-bottom: 1.5vw solid black;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
}

.logo {
    color: #13544E;
    font-size: 5vw;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -0.02vw;
}


.chosen {
    width: 60%;
    height: 12vw;
    flex-shrink: 0;
    border-radius: 2vw;
    border: .5vw solid #13544E;
    background: #D9D9D9;
}

.unchosen {
    width: 60%;
    height: 12vw;
    flex-shrink: 0;
    border-radius: 2vw;
    background: #D9D9D9;
}

.button {
    width: 3vw;
    height: 3vw;
}

.bigText {
    color: #000;
    font-size: 2vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 73.333% */
    letter-spacing: -0.02vw;
}

.smallText {
    color: #000;
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5vw; /* 97.778% */
    letter-spacing: -0.02vw;
}

.submitButtonText {
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5vw; /* 97.778% */
    letter-spacing: -0.02vw;
}

.greenText {
    color: #13544E;
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5vw; /* 97.778% */
    letter-spacing: -0.02vw;
}

.loginText {
    color: rgba(0, 0, 0, 0.50);
    font-size: 2vw;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5vw; /* 97.778% */
    letter-spacing: -0.02vw;
}

.submitButton {
    width: 55%;
    height: 4vw;
    flex-shrink: 0;
    border-radius: 1.5vw;
    background: #13544E;
}
